<!DOCTYPE html>
<html ng-app="cartified">

<head>
    <title>Cartified</title>
</head>

<body>
    <a href="#/">home</a>
    <a href="#/checkout">checkout</a>
    <div ng-view></div>

    <script type="text/ng-template" id="list.html">
        <ul controller="listCtrl">
            <li ng-repeat="item in items track by $index">
                <h3>{{item.brand +' - ' +item.label}}</h3>
                <label>Qty:</label>
                <input type="text" ng-model="item.quantity" ng-init="item.quantity = 1">
            </li>
        </ul>
    </script>
    <script type="text/ng-template" id="checkout.html">
        <h1> Checkout <h1>
    </script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/cart-controllers.js"></script>
    <script src="js/services/cart-services.js"></script>
</body>

</html>
